/*variables*/
/*reset*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 13, ../scss/style.scss */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* line 18, ../scss/style.scss */
a {
  text-decoration: none;
  color: #fff;
  background: #3673fb;
}

/* line 24, ../scss/style.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* line 31, ../scss/style.scss */
.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
/* line 38, ../scss/style.scss */
.header .logo {
  width: 128px;
  height: 40px;
  display: inline-block;
  margin: 15px 25px auto auto;
  background: #3673fb;
  position: absolute;
  vertical-align: top;
  border-radius: 0 20px 20px 0;
}
/* line 48, ../scss/style.scss */
.header .logo img {
  width: auto;
  height: 38px;
  vertical-align: middle;
  margin: 1px 15px 1px 5px;
}
/* line 56, ../scss/style.scss */
.header .actMenu {
  display: none;
  background: none;
}
/* line 61, ../scss/style.scss */
.header .menu {
  height: 70px;
  width: auto;
  font-size: 16px;
  list-style: none;
  display: block;
  box-sizing: content-box;
  background: #3673fb;
  margin: 0 0 0 193px;
}
/* line 71, ../scss/style.scss */
.header .menu li {
  width: 19.6%;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 25px;
  margin-top: 5px;
  position: relative;
}
/* line 79, ../scss/style.scss */
.header .menu li:hover {
  background: #83a9ff;
}
/* line 82, ../scss/style.scss */
.header .menu li:hover a {
  background: #83a9ff;
}
/* line 86, ../scss/style.scss */
.header .menu li:hover li, .header .menu li:hover li a {
  background: #3673fb;
}
/* line 91, ../scss/style.scss */
.header .menu li .rotate img {
  vertical-align: top;
  transform: rotate(180deg);
  animation-name: rotateu;
  animation-duration: .4s;
}
/* line 98, ../scss/style.scss */
.header .menu li img {
  height: 16px;
  vertical-align: bottom;
  transform: rotate(0deg);
  animation-name: rotated;
  animation-duration: .4s;
}
/* line 107, ../scss/style.scss */
.header .menu .submenu {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: absolute;
  top: 65px;
  left: 0;
  background: #3673fb;
  padding: 0;
  z-index: 2;
  animation-name: scaled;
  animation-duration: .4s;
}
/* line 120, ../scss/style.scss */
.header .menu .submenu.hide {
  display: block;
  height: 0;
  animation-name: scaleu;
  animation-duration: .4s;
}
/* line 127, ../scss/style.scss */
.header .menu .submenu li {
  width: 100%;
}
/* line 130, ../scss/style.scss */
.header .menu .submenu li:hover {
  background: #83a9ff;
}
/* line 133, ../scss/style.scss */
.header .menu .submenu li:hover a {
  background: #83a9ff;
}
/* line 139, ../scss/style.scss */
.header .menu .submenu a {
  background: #3673fb;
}
/* line 144, ../scss/style.scss */
.header .hide {
  display: none;
}

/* line 149, ../scss/style.scss */
.layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  animation-name: fade;
  animation-duration: .4s;
}
/* line 160, ../scss/style.scss */
.layer.hide {
  display: none;
}

/* line 167, ../scss/style.scss */
.title {
  text-align: center;
  font-size: 40px;
  margin: 50px 25px 40px 25px;
}

/* line 173, ../scss/style.scss */
#mapa {
  margin-bottom: 30px;
}

/* line 177, ../scss/style.scss */
.content {
  text-align: center;
}

/* line 180, ../scss/style.scss */
.menuCapas, .menuCoordenadas, .marcador {
  display: inline-block;
}

/* line 184, ../scss/style.scss */
.menuCapas a, .menuCoordenadas a, .marcador {
  display: inline-block;
  position: relative;
  padding: 15px 10px 15px 60px;
  margin-bottom: 20px;
}
/* line 190, ../scss/style.scss */
.menuCapas a img, .menuCoordenadas a img, .marcador img {
  width: auto;
  position: absolute;
  top: 5px;
  left: 10px;
  height: 40px;
}

@media (max-width: 1024px) {
  /* line 201, ../scss/style.scss */
  .header {
    position: fixed;
  }
  /* line 204, ../scss/style.scss */
  .header .logo {
    position: relative;
  }
  /* line 208, ../scss/style.scss */
  .header .actMenu {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 15px 15px 0 15px;
  }
  /* line 214, ../scss/style.scss */
  .header .actMenu img {
    width: 100%;
  }
  /* line 219, ../scss/style.scss */
  .header .menu {
    display: block;
    width: 80%;
    margin: 0 auto;
    height: auto;
  }
  /* line 225, ../scss/style.scss */
  .header .menu li {
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px 0;
  }
  /* line 232, ../scss/style.scss */
  .header .menu .submenu {
    width: 100%;
    top: 20px;
    position: relative;
    border-bottom: 2px solid #83a9ff;
  }
  /* line 240, ../scss/style.scss */
  .header .hide {
    display: none;
  }

  /* line 245, ../scss/style.scss */
  .title {
    font-size: 28px;
  }

  /* line 248, ../scss/style.scss */
  .menuCapas, .menuCoordenadas, .marcador {
    display: block;
  }
  /* line 251, ../scss/style.scss */
  .menuCapas a, .menuCoordenadas a, .marcador a {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin: 10px auto;
    text-align: center;
  }

  /* line 260, ../scss/style.scss */
  .marcador {
    padding: 15px 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleu {
  0% {
    height: 200px;
  }
  100% {
    height: 0;
  }
}
@keyframes scaled {
  0% {
    height: 0;
  }
  100% {
    height: 200px;
  }
}
@keyframes rotated {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateu {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
